# this is a sample config file for wbar


# background color in hex
bg_color=#130d0a
# textcolor in hex
fg_color=#f8e1d6
# accent color in hex
ac_color=#2980b9

# padding between elements in px
padding=5

# fontname + fontsize in px
;font=DejaVu Sans 12
font=GE Inspira Normal 14

# bar height in px
bar_height=22